*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f3f6ff;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

h1{
    font-size: 30px;
    color: #8642f7;
    margin-bottom: 20px;
}

textarea{
    width: 100%;
    height: 300px;
    font-size: 20px;
    margin-bottom: 15px;
    color: #222;
    background-color: #fff;
    resize: none;
    padding: 10px;
    border: 1px solid #8642f7;
    border-radius: 7px;
    box-shadow: 10px 10px 13px 0px rgba(224, 231, 239, 1);
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button{
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #fff;
    color: #222;
    border: none;
    border-radius: 7px;
    box-shadow: 10px 10px 13px 0px rgba(224, 231, 239, 1);
    cursor: pointer;
    transition: all 0.2s;
}

button:hover{
    background-color: #8642f7;
    color: #fff;
}

button[disabled]{
    background-color: #cdcdcd;
    color: #222;
    pointer-events: none;
    text-decoration: line-through;
}

a{
    margin-right: 10px;
    font-size: 16px;
    color: #222;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover{
    color: #8642f7;
}

@media (max-width: 480px){
    h1{
        font-size: 25px;
    }

    textarea{
        height: 200px;
    }
}

/* Button share */
.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content{
    background-color: #f3f6ff;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
    max-width: 97%;
}

#popupURL {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
.popup-close{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
}

#popup-url{
    margin-bottom: 10px;
    font-size: 18px;
}

#popup-copy{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 10px 10px 13px 0px rgba(224, 231, 239, 1);
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

#popup-copy:hover{
    background-color: #8642f7;
    color: #fff;
}

/* source code btn */
#source-code{
    position: fixed;
    bottom: 5px;
    right: 0px;
}
